page-home {	
	ion-header {
		position: relative;
	}
	.header-md::after {
		background-image: none;
	}
	.toolbar-background-md {
		background: #4e24a6;
	}
	.section {
	    position: relative;
	    right: 0;
	    left: 0;
	    .button-nav {
		    color: white;
		    position: relative;
		    width: 100%;
		    /* text-align: center; */
		    padding-left: 10px;
		    padding-right: 10px;
		    ion-icon {
		        font-size: 28px;	
		    }
		    .ion-md-more {
		    	float: right;
		    }
	    }	
	    .title {
			position: absolute;
		    right: 0;
		    left: 0;
		    text-align: center;
		    top: 1px;
		    h3 {
				margin: 0;
			    color: #eaae00;	
			    display: inline;	    	
		    }	    	
		    h4 {
			    margin: 0;
			    color: white;
			    font-size: 22px;
			    display: inline;		    	
		    }
	    }	
	}
	.judul-header {
	    	padding: 7px;
	    	position: relative;
	    	z-index: 2;
	    	span {
			    text-transform: uppercase;
			    font-size: 11px;
			    font-weight: bold;	    		
	    	}
	    	p {
			    margin: 0;
			    display: inline;
			    font-weight: bold;
			    float: right;
			    font-size: 11px;
			    text-transform: uppercase; 
			    position: relative;
			    top: 3px;   		
	    	}
	}	
	.select-destination {
		.custom-input {
			padding: 5px;
		    width: 85%;
		    .back-forward {
			    position: absolute;
			    top: 27px;
			    right: 9px;
			    .button-md {
				    background-color: #eaae00;
				    width: 10px;
				    height: 28px;
				    .ion-md-swap {
					    -moz-transform: rotate(91deg);
					    -webkit-transform: rotate(91deg);
					    -o-transform: rotate(91deg);
					    -ms-transform: rotate(91deg);
					    transform: rotate(91deg);			    	
				    }	
			    }    	
		    }
		    .button-round-md {
			    background-color: #eaae00;
			    height: 22px;
			    width: 75px;
			    font-size: 11px;		    	
		    }	
		}
		.input-select {
		    display: inline-flex;
		    width: 100%;
		    position: relative;	
		    .ion-md-man {
				font-size: 23px;
			    color: white;
			    padding: 6px;
		    }
		    .ion-md-pin {
				font-size: 21px;
			    color: white;
			    padding: 3px;
			    padding-top: 8px;		    	
		    }	
		    .text-input {
		    	color: white;

		    }	
		    ion-input {
		    	::placeholder {
		    		color: white;
		    	}
		    }    
		    .ion-md-locate {
				padding: 10px;
			    font-size: 22px;
			    color: white;		    	
		    }
		    .input-underline {
				border-bottom: 1px solid;
			    width: 100%;
			    height: 1px;
			    position: absolute;
			    color: white;
			    bottom: 0;		    	
		    }	
		}
	}
	.leave-time {
	    position: relative;
	    height: 79px;
	    right: 0;
	    left: 0;
	    z-index: 2;	
    	top: 141px;	    
	    ion-slides {
	    	height: 385px;
	    }
	    .next-slide {
		    position: relative;
		    right: 0;
		    left: 0;
		    text-align: center;  
		    top: 20px;  	
	    }
	
	    .time-now {
		    position: relative;
		    bottom: 18px;	
		    h3 {
			    top: 18px;
			    text-transform: uppercase;
			    position: relative;		    	
		    }
		    .nav-slide {
			    position: absolute;
			    top: 20px;		    	
		    }    	
	    	.back {
	    	    width: 9%;	
	    	}
	    	.forward {
	    		width: 9%;
	    		float: right;
	    	}
	    	.slide-list {
				padding-right: 23px;
			    padding-left: 23px;
			    height: 100%;
			    top: 19px;    
			    position: relative;	    
			    .box {
					width: 50px;
				    position: relative;
				    text-align: center;
				    display: inline-grid;
				    transition: transform .2s;
				    z-index: 3;
				    height: 27px;
				    h4 {
					    margin-bottom: 0px;
					    top: 9px;
					    position: relative;
					    margin-top: 0;    
				    }			    	
			    }
			    .box-bulan {
					    width: 100px;
					    position: relative;
					    text-align: center;
					    display: inline-grid;
					    -webkit-transition: -webkit-transform .2s;
					    transition: -webkit-transform .2s;
					    transition: transform .2s;
					    transition: transform .2s, -webkit-transform .2s;
					    z-index: 3;
					    height: 27px;			    	
			    }	
			    .box-bulan:hover {
				    background-color: #4e24a6;
				    -webkit-transform: scale(1.2);
				    transform: scale(1.2);
				    color: white;
    				padding-bottom: 52px;	
				    height: 35px;
				    position: relative;			    			    	
			    }
			    .box:hover {
				    background-color: #4e24a6;
				    -webkit-transform: scale(1.2);
				    transform: scale(1.2);
				    color: white;
				    padding-bottom: 13px;	
				    height: 35px;				    		    	
			    }    		
	    	}
	    }
	}
	.pilih-transport {
		position: relative;
		.title {
			padding-bottom: 23px;
			span {
				font-size: 11px;
			    text-transform: uppercase;
			    padding-left: 6px;
			    font-weight: bold;				
			}
		}
		.left-btntransport {
			    width: 90px;
			    height: 47px;
			    border-radius: 0px 30px 30px 1px;
			    text-transform: initial;
			    ion-icon {
				    width: 31px;
				    font-size: 2.2em;			    	
			    }    
		}
		.center-btntransport {
		    height: 128px;
		    width: 128px;
		    text-transform: initial;
		    padding-left: 7px;  
		    background-color: #4e24a6;  
		    right: 0;
		    left: 0;
		    position: absolute;
		    top: 6px;
		    margin: auto;		    		    			
			img {
			    margin-left: 11px;
			    width: 40px;
			    position: absolute;
			    -webkit-transform: rotate(41deg);
			    transform: rotate(315deg);
			    top: 14px;
			    color: white;							
			}
			.text {
			    top: 17px;
			    position: relative;
			    margin-left: 14px;				
			}
		}
		.right-btntransport {
			    width: 90px;
			    height: 47px;
			    border-radius: 32px 1px 1px 25px;
			    text-transform: initial;
			    float: right;
			    ion-icon {
				    width: 31px;
				    font-size: 2.2em;
				    margin-right: 5px;			    	
			    }		
		}
	}
	.list-select {
	    position: absolute;
	    top: 109px;
	    z-index: 20;
	    right: 62px;
	    .icon-close {
		    position: relative;
		    z-index: 2;
		    right: 0;
		    font-size: 16px;
		    color: white;
		    left: 0;
		    text-align: right;	    	
	    }		
	}
	.list-destination {
	    position: absolute;
	    z-index: 10;
	    top: 112px;
	    right: 62px;		
	}
}
